.wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 600px 1fr;
    gap: 60px;
    padding-top: 120px;
    height: calc(100vh - 88px);
}

.wrapper .container {
    display: flex;
}