.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.constructor_element {
    position: relative;
    display: flex;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    max-height: 464px;
}

.list::-webkit-scrollbar {
    width: 8px;
}

.list::-webkit-scrollbar-track {
    background: #2F2F37;
}

.list::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.touch_btn {
    position: absolute;
    left: -8px;
    top: 50%;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: translate(-100%, -50%);
}