.constructor_element {
    position: relative;
    display: flex;
}

.touch_btn {
    position: absolute;
    left: -8px;
    top: 50%;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: translate(-100%, -50%);
}