.item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name {
    min-height: 48px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
}