.modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.not_modal {
    padding-top: 0;
}

.not_modal > p {
    align-self: center;
}

.title {
    align-self: flex-start;
    line-height: 64px;
}

.modal_content_img {
    max-width: 480px;
    max-height: 240px;
}

.modal_content_compound {
    display: flex;
}

.modal_content_compound > p {
    display: flex;
    flex-direction: column;
    align-items: center;
}